<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.aura.merp.employee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.AddCallActivity"></activity>

        <service android:name=".util.BackgroundService" />
        <service
            android:name=".util.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ServiceApplicationActivity"
            android:label="@string/service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MasterActivity"
            android:label="@string/master"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PassCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddContributionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.activity.FinanceActivity"
            android:label="@string/finAgent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DealerActivity"
            android:label="@string/dealer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DemoActivity"
            android:label="@string/demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AuthorizationActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.activity.MapActivity"
            android:label="@string/map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="locale"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
    </application>

</manifest>