<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.aura.merp.employee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="kz.aura.merp.employee.activity.ChiefActivity" />
        <activity
            android:name="kz.aura.merp.employee.activity.OcrWebActivity"
            android:parentActivityName="kz.aura.merp.employee.activity.AuthorizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.aura.merp.employee.activity.AuthorizationActivity" />
        </activity>
        <activity android:name="kz.aura.merp.employee.activity.MapActivity" />
        <activity
            android:name="kz.aura.merp.employee.activity.ClientActivity"
            android:parentActivityName="kz.aura.merp.employee.activity.FinanceAgentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.aura.merp.employee.activity.FinanceAgentActivity" />
        </activity>
        <activity
            android:name="kz.aura.merp.employee.activity.ServiceApplicationActivity"
            android:parentActivityName="kz.aura.merp.employee.activity.MasterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.aura.merp.employee.activity.MasterActivity" />
        </activity>
        <activity
            android:name="kz.aura.merp.employee.activity.DemoActivity"
            android:parentActivityName="kz.aura.merp.employee.activity.DealerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.aura.merp.employee.activity.DealerActivity" />
        </activity>
        <activity
            android:name="kz.aura.merp.employee.activity.SettingsActivity"
            android:configChanges="locale" />
        <activity android:name="kz.aura.merp.employee.activity.MasterActivity" />
        <activity android:name="kz.aura.merp.employee.activity.DealerActivity" />
        <activity android:name="kz.aura.merp.employee.activity.FinanceAgentActivity" />
        <activity
            android:name="kz.aura.merp.employee.activity.AuthorizationActivity"
            android:configChanges="locale" />
        <activity android:name="kz.aura.merp.employee.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>