<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kz.aura.merp.employee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service android:name=".util.BackgroundService" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/we_logo_2024px" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <service
            android:name=".util.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Finance -->
        <activity
            android:name=".ui.finance.activity.FinanceActivity" />
        <activity
            android:name=".ui.finance.activity.CreateScheduledCallActivity"
            android:parentActivityName=".ui.finance.activity.FinanceActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.finance.activity.ChangeResultActivity"
            android:parentActivityName=".ui.finance.activity.DailyPlanActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.finance.activity.IncomingActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.finance.activity.OutgoingActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.finance.activity.DailyPlanActivity"
            android:parentActivityName=".ui.finance.activity.FinanceActivity" />
        <activity
            android:name=".ui.finance.activity.PlanActivity"
            android:parentActivityName=".ui.finance.activity.FinanceActivity" />
        <!-- !!! -->



        <activity android:name=".ui.common.CreatePasscodeActivity"
            android:parentActivityName=".ui.common.AuthActivity" />
        <activity
            android:name=".ui.common.AuthActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".ui.common.VerifyPasscodeActivity" />
        <activity
            android:name=".ui.common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="kz.aura.merp.employee.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="kz.aura.merp.employee.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>